*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    overflow-x:hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.card{
    width:300px;
    height:150px;
    background-color:black;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:20px;
    color:white;
}
.dashboard{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding:20px;
}
.btn{
    padding:10px 20px;
    background-color:#007BFF;
    color:white;
    border:none;
    border-radius:5px;
    

}
.btn:hover{
    background-color:#0056b3;
    cursor:pointer;
    transition:background-color 0.3s ease;
}
