h1  {

    background-color: azure;
    color: black;
}
h2 {
    background-color: bisque;
    color: blueviolet;
}
h3 {
    background-color: azure;
    color: blue;
}
p {
    background-color: black;
    color: aqua;
}
p {
    background-color: antiquewhite;
    color: brown;
}
