*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.design{
    background-color: blue;
    color:red; 
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
}
.box{
    background-color:white;
    color: black;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
}


